# sej emacs stuff
archive/
elpa/
el-get/
eshell/
projectile-bookmarks.eld
.python-environments/
server/
url/
vendor/
anaconda-mode/
image-dired/
ac-comphist.dat
abbrev_defs
bookmarks
company-statistics-cache.el
.DS_Store
*.elc
elfeed.org
history
ido.last
init-custom.el
network-security.data
places
recentf
savehist
.smex-items
smex-items
tramp
.uptimes.el
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# emacs
auto-save-list/
*~
session.*
.smex-items
ac-comphist.dat
.#*
\#*

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
